* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* css header-left */

.header-left {
    width: 100px;
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 27%);
}

.list-item {
    height: 80px;
    padding: 15px 3px;
}

.list-item:hover {
    background: rgba(0, 0, 0, .04);
}

.header-top {
    padding: 20px 40px;
    margin-left: 100px;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.header-icon {
    padding: 4px 7px;
    display: inline-flex;
}

.imgheader {
    width: 60px;
}

.header-content {
    height: 60px;
}

.header-item {
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;
}

.nav-link1 {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.nav-link1:hover {
    color: #000;
}


/* css body */

.content {
    height: 545px;
    background-color: #ccc;
}

.content-main {
    width: 40%;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 33%);
    box-shadow: 2.5px;
    background-color: #fff;
    position: fixed;
    top: 16%;
    right: 25%;
}

.jsmain {
    display: none;
    min-height: 270px;
    background-color: #e9ecef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-item {
    padding-top: 50px;
    text-align: center;
}

.InOutflow {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0;
    margin-left: 10%;
}

.KQ {
    margin-right: 10%;
    padding: 0 0px 20px;
    display: flex;
    justify-content: flex-end;
}

.view-report {
    text-align: center;
}

.datetime {
    width: 80%;
    margin-left: 12%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.view-day {
    width: 12%;
    height: 32px;
    font-size: 30px;
    padding-left: 13px;
}

.view-month {
    width: 30%;
    margin-top: -28px;
    margin-left: 65px;
    font-size: 13px;
    display: grid;
}

.list-transaction {
    width: 80%;
    height: 50px;
    margin-left: 12%;
    margin-top: 10px;
}

.list-transaction:hover {
    background-color: #ccc;
}

.item-transation {
    padding: 10px;
}

.detail-container {
    position: fixed;
    width: 50%;
    height: 300px;
    background-color: #fff;
    top: 16%;
    right: 1%;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 33%);
    border-radius: 10px;
    display: none;
}

.header-detail-container {
    height: 60px;
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin: 20px 29px;
}

.toolbar-detail {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.btnDE {
    background-color: #fff;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}

.btnDE:hover {
    background-color: #ccc;
}

.cate-note {
    padding: 5px 40px;
    display: inline-flex;
}

.imgcar {
    width: 70px;
}

.date-tran {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.amount-detail {
    color: #dc3545;
    margin-left: 96px;
    font-size: 35px;
}

.delete-transaction {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    display: none;
}

.delete-tran {
    width: 40%;
    height: 195px;
    background-color: #fff;
    margin: 10% 36%;
    border-radius: 9px;
}

.header-delete {
    padding: 20px 35px 10px;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}

.text-delete-tran {
    padding: 13px 35px
}

.button-delete-tran {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
}

.Nodlete {
    color: #2db84c;
    width: 85px;
    margin-right: 20px;
    background-color: #dee2e6;
}

.Nodlete:hover {
    opacity: 0.8;
    color: #2db84c;
}

.Yesdelete {
    color: #fff;
    width: 85px;
    background-color: #dc3545;
}

.Yesdelete:hover {
    opacity: 0.8;
    color: #fff;
}

.Edit-transaction {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    position: fixed;
}

.transaction {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    position: fixed;
}

.add-transaction {
    width: 65%;
    height: 400px;
    background-color: #fff;
    margin-left: 20%;
    margin-top: 7%;
    border-radius: 10px;
}

.header-add-tran {
    height: 70px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.content-add-tran {
    display: inline-flex;
    height: 145px;
    padding: 40px;
}

.content-list-item {
    border-radius: 10px;
    width: 221px;
    height: 80px;
    border: 1px solid #ccc;
    padding: 10px;
    /* margin-left: 23px; */
    margin-right: 60px;
}

.content-list-item:hover {
    border: 1px solid #000;
}

.content-list-item1 {
    display: flex;
    padding-left: 3px
}

.input {
    border: none;
}

.input:focus-visible {
    outline: none;
}

.category {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
}

.seclect-category {
    width: 38%;
    min-height: 90%;
    background-color: #fff;
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 10px;
}

.search-category {
    width: 50%;
    height: 49px;
    border: 1px solid #e9ecef;
    margin-left: 145px;
    background-color: #e9ecef;
    border-radius: 30px;
}

.search {
    padding: 12px;
}

.slider-category {
    width: 90%;
    height: 45px;
    margin: 11px 25px 0;
}

.list-expense {
    width: 70%;
    min-height: 200px;
    margin: 16px 75px;
}

.list-item-expense {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}

.list-item-expense:hover {
    background-color: #e9ecef;
}

.list-debt {
    display: none;
    width: 70%;
    min-height: 200px;
    margin: 16px 75px;
}

.list-income {
    display: none;
    width: 70%;
    min-height: 200px;
    margin: 16px 75px;
}

body,
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* CSS HEADER */

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__img {
    display: block;
}

.header__navbar {
    display: flex;
}

.header__navbar-list {
    padding-left: 0;
    list-style: none;
    display: flex;
}

.header__navbar-item {
    position: relative;
}

.header__navbar-item-line::before {
    position: absolute;
    top: 3px;
    right: -25px;
    content: "";
    width: 2px;
    height: 20px;
    background-color: var(--text-gray);
}

.header__navbar-item-link {
    font-weight: 500;
    text-decoration: none;
    color: var(--text-gray);
    padding: 10px 0;
    font-weight: 500;
}

a:hover {
    color: var(--primary-color);
}


/* CSS MAIN */

.wrap1 {
    padding: 100px 20px 0 20px;
}

.wrap__text {
    color: var(--primary-color);
    text-align: center;
    letter-spacing: -2px;
}

.button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.btnn {
    background-color: #fff;
    align-items: center;
    padding: 9px 16px;
    border: 1px solid #2db84c;
    border-radius: 8px;
    justify-content: center;
    max-height: 48px;
    max-width: 194px;
}

.btn__link {
    text-decoration: none;
    font-weight: 700;
    color: #2db84c;
    white-space: nowrap;
}

.row {
    text-align: center;
    justify-content: center;
}

.box {
    background-color: #d5f8eb;
    padding: 30px 10px;
    border-radius: 10px;
}

.text__decription {
    font-size: 26px;
    font-weight: bold;
    padding: 30px 10px;
}

.box-img {
    box-shadow: 0 0 64px rgb(0 0 0 / 8%);
}

.img {
    width: 100%;
    height: 100%;
}

.box__text {
    padding-top: 20px;
    text-align: left;
    line-height: 50px;
}

.box__text-title {
    font-size: 40px;
}

.box__text-decription {
    font-size: 22px;
}

.margin {
    margin-bottom: 160px;
}

.ml {
    margin-left: 60px;
}

.item__text-title {
    font-size: 25px;
    margin-top: 40px;
}

.group {
    margin-top: 80px;
}

.mt {
    margin-top: 40px;
}

.wrap7 {
    height: 100%;
    background-color: #2DB84C;
    border-radius: 16px;
}

.img {
    margin-top: 14%;
    width: 60%;
}

.wrapper__text {
    padding: 100px 60px 30px 63px;
    color: #fff;
}

.box__app-link {
    text-decoration: none;
}


/* CSS FOOTER */

.footer {
    border-top: 1px solid #eaeaea;
}

.footer__text {
    display: flex;
    justify-content: flex-start;
}

.footer__wrap {
    padding-left: 0;
    list-style: none;
    display: flex;
}

.footer__wrap-text {
    padding: 0 20px;
}

.footer__wrap-text-link {
    text-decoration: none;
    color: rgb(139, 139, 139);
}

.footer__wrap-socials {
    padding: 0 10px;
}

.pd {
    padding: 40px 0;
}


/* CSS LOGIN */

.main__login {
    padding: 50px;
    justify-content: center;
    background-color: #00710F;
}

.form__body {
    display: flex;
}

.wrap__login {
    display: flex;
    justify-content: center;
    background-color: #00710F;
}

.container__login {
    width: 90%;
}

.socials {
    margin-right: 10px;
}

.socials__item {
    margin-top: 46px;
}

.socials__item-btn {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px 16px;
    width: 100%;
    background-color: #fff;
    margin-top: 16px;
}

.socials__connect {
    padding-left: 36px;
}

.gg {
    border: 2px solid red;
    color: red;
}

.fb {
    border: 2px solid #1877F2;
    color: #1877F2;
}

.ip {
    border: 2px solid #000;
    color: #000;
}

.wrap__form {
    background-color: #fff;
    border-radius: 20px;
    padding: 34px 40px 40px;
}

.form {
    border-left: 2px solid #e0e0e0;
    padding-left: 14px;
    margin-top: 46px;
}

.flex {
    flex: 1;
}

.input__text {
    background-color: #e8f0fe;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    width: 100%;
    height: 52px;
    padding-left: 10px;
    margin: 0 0 20px;
    outline: none;
}

.form__forgot-link {
    text-decoration: none;
    float: right;
    color: #2DB84C;
}

.form__btn {
    width: 100%;
    border-radius: 8px;
    height: 46px;
    background-color: #0fc828;
    border: none;
    color: #fff;
    font-weight: bold;
}

.form__forgot {
    margin-bottom: 40px;
}

.form__suggest {
    margin-top: 30px;
}

.form__suggest-text-link {
    color: #2DB84C;
}

.footer__login {
    background-color: #00710F;
    width: 100%;
    height: 25%;
}

.fl {
    flex: 1;
}


/* CSS Bao cao */

.main__report {
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    height: 100%;
}

.report {
    background-color: #fff;
    width: 70%;
    margin-top: 36px;
    border-radius: 4px;
}

.report__top {
    height: 64px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

.report__bottom {
    align-items: center;
    padding: 40px 40px;
    border-top: 1px solid #e0e0e0;
}

.report__money {
    display: flex;
}

.money-value {
    padding: 0 8px;
}

.report__text {
    padding-left: 40%;
}

.report__icon {
    padding-right: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}


/* Modal */

.modal-wrap {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.modal-container {
    width: 900px;
    height: 600px;
    margin: 117px auto;
    position: relative;
    background-color: #f4f4f4;
    border-radius: 4px;
    /* display: none; */
}

.bb {
    border-bottom: 1px solid rgb(218 218 218);
}

.modal-text {
    text-align: center;
    padding: 14px;
}

.modal-close {
    top: 0;
    position: absolute;
    right: 0;
    color: #878484;
    cursor: pointer;
    padding: 6px 18px 10px 0px;
}

.modal-wrap1 {
    padding: 12px 20px;
    background-color: #fff;
}

.modal-item {
    padding: 12px 20px;
    background-color: #fff;
    margin-top: 40px;
    align-items: center;
}

.modal-date {
    display: flex;
}

.modal-category {
    display: flex;
    align-items: center;
}

.month {
    display: block;
}

.date {
    margin-left: 20px;
}

.date-name {
    color: rgba(0, 0, 0, .54);
    font-weight: 700;
}

.month {
    font-size: 10px;
    color: #888;
}

.img {
    width: 100%;
    height: 100%;
    margin: 0px 20px;
}

.img-app {
    padding-top: 20%;
    width: 60%;
}

.img-modal {
    max-width: 50px;
    margin: 0px 20px;
    max-height: 50px;
}

.modal-list-category {
    padding: 12px 20px;
    background-color: #fff;
    align-items: center;
}

.modal-list-category:hover,
.report__bottom:hover {
    background-color: #EFF9F1;
    cursor: pointer;
}

.color {
    color: red;
}

.overlay__detail {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-details {
    width: 600px;
    height: 300px;
    margin: 117px auto;
    position: relative;
    background-color: #f4f4f4;
    border-radius: 4px;
    /* display: none; */
}

.details-content {
    margin-top: 20px;
}