body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/* CSS HEADER */
.header {
  display: flex;
  justify-content: space-between;
  height: 140px;
  align-items: center;
}
.header__img {
  display: block;
}
.header__navbar {
  display: flex;
}
.header__navbar-list {
  padding-left: 0;
  list-style: none;
  display: flex;
}
.header__navbar-item {
  font-weight: 500;
  padding: 0 30px;
}
.header__navbar-item-link {
  font-weight: 500;
  text-decoration: none;
  color: rgb(83, 83, 83);
}
a:hover {
  color: #2db84c;
}

/* CSS MAIN */
.wrap1 {
  padding: 100px 20px 0 20px;
}

.wrap__text {
  color: #2db84c;
  text-align: center;   
  letter-spacing: .025em;
}
.button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.btn {
  background-color: #fff;
  align-items: center;
  border: 1px solid #2db84c;
  border-radius: 8px;
  justify-content: center;
  max-height: 48px;
  max-width: 194px;
}
.btn__link {
  text-decoration: none;
  font-weight: 700;
  color: #2db84c ;
  white-space: nowrap;
}
.row {
  text-align: center;
  justify-content: center;
}
.box {
  background-color: #d5f8eb;
  padding: 30px 10px;
  border-radius: 10px;
}
.text__decription {
  font-size: 26px;
  font-weight: bold;
  padding: 30px 10px;

}
.box-img {
  box-shadow: 0 0 64px rgb(0 0 0 / 8%);
}
.img {
  width: 100%;
  height: 100%;
}
.box__text {
  padding-top:20px ;
  text-align: left;
  line-height: 50px;
}
.box__text-title {
  font-size: 40px;
}
.box__text-decription {
  font-size: 22px;
}
.margin {
  margin-bottom: 160px;
}
.ml {
  margin-left: 60px;
}

.item__text-title {
  font-size: 25px;
  margin-top: 40px;
}
.group {
  margin-top: 80px;
}
.mt {
  margin-top: 40px;
}
.wrap7 {
  height: 100%;
  background-color: #2DB84C;
  border-radius: 16px;
}
.img {
  margin-top: 14%;
  width: 60%;
}
.wrapper__text {
  padding: 100px 60px 30px 63px;
  color: #fff;
}
.box__app-link {
  text-decoration: none;
}
/* CSS FOOTER */
.footer {
  border-top: 1px solid #eaeaea;
}
.footer__text {
  display: flex;
  justify-content: flex-start;
}
.footer__wrap {
  padding-left: 0;
    list-style: none;
    display: flex;
}
.footer__wrap-text {
  padding: 0 20px;
}
.footer__wrap-text-link {
  text-decoration: none;
  color: rgb(139, 139, 139);
}
.footer__wrap-socials {
  padding: 0 10px;
}
.pd {
  padding: 40px 0;
}


/* CSS LOGIN */

.main__login {
  padding: 50px;
  justify-content: center;
  background-color: #00710F;
}
.form__body {
  display: flex;
}
.wrap__login {
  display: flex;
  justify-content: center;
  background-color: #00710F;
}
.container__login {
  width: 90%;
}
.socials {
  margin-right: 10px;
}
.socials__item {
  margin-top: 46px;
}
.socials__item-btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 8px 16px;
  width: 100%;
  background-color: #fff;
  margin-top: 16px;
}
.socials__connect {
  padding-left: 36px;
}
.gg {
  border: 2px solid red;
  color: red;
}
.fb {
  border: 2px solid #1877F2;
  color: #1877F2;
}
.ip {
  border: 2px solid #000;
  color: #000;
}
.wrap__form {
  background-color: #fff;
  border-radius: 20px;
  padding: 34px 40px 40px;
}
.form {
  border-left: 2px solid #e0e0e0;
  padding-left: 14px;
  margin-top: 46px;
}
.flex {
  flex: 1;
}
.input__text {
  background-color: #e8f0fe;
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  width: 100%;
  height: 52px;
  padding-left: 10px;
  margin: 0 0 20px;
  outline: none;
}
.form__forgot-link {
  text-decoration: none;
  float: right;
  color: #2DB84C;

}
.form__btn {
  width: 100%;
  border-radius: 8px;
  height: 46px;
  background-color: #0fc828;
  border: none;
  color: #fff;
  font-weight: bold;
}
.form__forgot {
  margin-bottom: 40px;
}
.form__suggest {
  margin-top: 30px;
}
.form__suggest-text-link {
  color: #2DB84C;
}
.footer__login {
  background-color: #00710F;
  width: 100%;
  height: 21%;
}